
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Professores</h2>

<!--
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
-->

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>

@if (ViewBag.Messagem != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Messagem");
            };
    </script>

}

